<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BTSerialComTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BTSerialComTester.Properties.Settings>
            <setting name="LastComPort" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LastEEPromFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorLogFile" serializeAs="String">
                <value>BTErrorLog</value>
            </setting>
            <setting name="ComLogFile" serializeAs="String">
                <value>BTComLog</value>
            </setting>
        </BTSerialComTester.Properties.Settings>
    </userSettings>
</configuration>